.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    position: fixed;
    width: 100%;
}

.Links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 150px;
}

.Link a, .Link a:active{
    text-decoration: none;
    color: black;
}

.Link{
    padding: 10px;
}